/********************************** Variables */

@gap: 16px;
@padding--main: 16px;
@padding--page: 10px;
@font-size--normal: 13px;
@font-color--normal: #262626;
@border-color: #eee;
@border-radius: 4px;
@bg-color--normal: #f8f7f8;
@form-label-width: 6em;
@form-item-gap: 16px;
