@reference 'tailwindcss';

:root {
  --x9s: 28;
  --x8s: 40;
  --x7s: 62;
  --x6s: 90;
  --x5s: 136;
  --x4s: 195;
  --x3s: 295;
  --x2s: 440;
  --xs: 640;
  --sm: 768;
  --md: 1024;
  --lg: 1280;
  --xl: 1536;
  --x2l: 1920;
  --x3l: 2560;
  --x4l: 3840;
  --x5l: 5120;
  --x6l: 7680;
  --x7l: 10240;
  --x8l: 15360;
  --x9l: 20480;
}
/* @layer base {
} */
